<!-- <div *ngIf="isValid">
  If isValid is true
</div>


<div *ngIf="isValid; else templateName">
  If isValid is true
</div>

<ng-template #templateName>
  If isValid is false
</ng-template>


<div *ngIf="isValid; then thenTemplateName else elseTemplateName">
  Here is never showing
</div>

<ng-template #thenTemplateName>
  If isValid is true
</ng-template>

<ng-template #elseTemplateName>
  If isValid is false
</ng-template>



<select [(ngModel)]="selectedValue">
  <option *ngFor="let item of items;" [value]="item.val">{{item.name}}</option>
</select>

<div class='row' [ngSwitch]="selectedValue">
  <div *ngSwitchCase="'1'">One is Pressed</div>
  <div *ngSwitchCase="'2'">Two is Selected</div>
  <div *ngSwitchDefault>Default Option</div>
</div>

Input string : <input type='text' [(ngModel)]="num" />
<div [ngSwitch]="num">
  <div *ngSwitchCase="'1'">One</div>
  <div *ngSwitchCase="'2'">Two</div>
  <div *ngSwitchCase="'3'">Three</div>
  <div *ngSwitchCase="'4'">Four</div>
  <div *ngSwitchCase="'5'">Five</div>
  <div *ngSwitchDefault>This is Default</div>
</div>
<mat-card>
  <table>
        <thead>
              <tr>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Annual Salary</th>
                    <th>Date of Birth</th>
                </tr>
          </thead>
        <tbody>
              <tr *ngFor='let employee of employees;trackBy: trackByEmployee'>
                    <td>{{employee.code}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.gender}}</td>
                    <td>{{employee.annualSalary}}</td>
                    <td>{{employee.dateOfBirth}}</td>
                </tr>
              <tr *ngIf="!employees || employees.length==0">
                    <td colspan="5">
                          No employees to display
                      </td>
                </tr>
          </tbody>
  </table>
</mat-card>
<br  />
<button (click)='getEmployees()'>Refresh Employees</button>

<div *ngFor="let key of objectKeys(skills)">
  {{key + " =======" + skills['Skill1']}}
</div>


<button mat-stroked-button color="primary">Primary</button>
<button mat-flat-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button> -->

<app-product-list></app-product-list>
